div.jumbotron {
    width: 30%;
    margin: auto;
    display: block;
    border-radius: 25px; 
    border: solid 1px  green;
    background-color: rgba(242, 255, 0, 0.756);
    z-index: 1;
    box-shadow: 1px 30px 25px black;

}
h1.jumbotron-title{
text-align: center;
}
p.jumbotron-obj {
    text-align: center;
}
hr.jumbotron-hr{
    width: 50%;
    margin-left: auto;
    margin-right:auto;
}

p.jumbotron-ins {
    text-align: center;

}
p.jumbotron-button  {
    text-align:center;
}